<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sinosoft.wordweb.chat.mapper.UserMapper">
    <resultMap id="User" type="com.sinosoft.wordweb.chat.domain.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="login" resultMap="User">
        select * from user_info
        where user_name = #{userName,jdbcType=VARCHAR}
          and pass_word = #{passWord,jdbcType=VARCHAR,jdbcType=VARCHAR}
    </select>

    <select id="selectUserIdByUserName" resultType="int">
        select user_id from user_info where user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>